<div class="row">
    @Html.Partial("~/Views/Common/Card.cshtml")
    @Html.Partial("~/Views/Common/Card.cshtml")
    @Html.Partial("~/Views/Common/Card.cshtml")
    @Html.Partial("~/Views/Common/Card.cshtml")
    @Html.Partial("~/Views/Common/Card.cshtml")
    @Html.Partial("~/Views/Common/Card.cshtml")
    @Html.Partial("~/Views/Common/Card.cshtml")
    @Html.Partial("~/Views/Common/Card.cshtml")
</div>
