@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (@ViewBag.role == "adm")
    {
        <div class="admin-title">
            <h1>Current Badge Bank</h1>
        </div>
        
        <div class="create-button">
            <a>@Html.ActionLink("Create New Badge", "Create", null, new { @class = "btn btn-primary" })</a>
        </div>
        <div>
            <table class="table-striped table-hover row-border" id="badgesTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Give Type</th>
                        <th>Current Status</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    }
    else if (@ViewBag.role == "stu")
    {
        <div>@ViewBag.username,</div>
        <div>You don't have permission to view this page!</div>
    }
}
else
{
    <div>You need to login to use our system</div>
}


<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#badgesTable").DataTable({
                "ajax": {
                    "url": "/Badges/LoadBadgesData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "BadgeType_Object.BT_Name", "autoWidth": true, "bSortable": true, "bSearchable": true },
                    { "data": "Badge_Name", "autoWidth": true, "bSortable": true, "bSearchable": true },
                    { "data": "BadgeGiveType_Object.BGT_Name", "autoWidth": true, "bSortable": true, "bSearchable": true },
                    { "data": "Badge_Status.BS_Name", "autoWidth": true, "bSortable": false, "bSearchable": true },
                    { "data": "Badge_Descript", "autoWidth": true, "bSortable": false, "bSearchable": false, "width": "30%" },

                    {
                        "mData": "Badge_Id",
                        "bSearchable": false,
                        "bSortable": false,
                        "mRender": function (data, type, full) {
                            return '<a href=' + '@Url.Action("Edit", "Badges")?ID=' + data + '>Edit</a>'
                                    + ' | <a href=' + '@Url.Action("Details", "Badges")?ID=' + data + '>Details</a>'
                                    + ' | <a href=' + '@Url.Action("Delete", "Badges")?ID=' + data + '>Delete</a>';
                        }
                    }
                ]
            });
        });
    </script>
}

