@using Microsoft.AspNet.Identity
@using GST_Badge_System.Model
@if (Request.IsAuthenticated)
{
    if (@ViewBag.role == "adm")
    {
        <div>Since you are an admin, you can: </div>

        <div class="row">
            <div class="activity-item col-xs-3">
                <div  class="activity-item-content btn btn-default">
                    @Html.ActionLink("Manage Users", "Index", "Users", new { area = "Admin" }, null)
                </div>
            </div>
            <div class="activity-item col-xs-3">
                <div class="activity-item-content btn btn-default">
                    @Html.ActionLink("Manage Badge Bank", "Index", "Badges", new { area = "Admin" }, null)
                </div>
            </div>
            <div class="activity-item col-xs-3">
                <div class="activity-item-content btn btn-default">
                    @Html.ActionLink("Manage BadeTransactions", "Index", "BadgeTransaction", new { area = "Admin" }, null)
                </div>
            </div>
            <div class="activity-item col-xs-3">
                <div class="activity-item-content btn btn-default">
                    @Html.ActionLink("Send A Badge", "Create", "BadgeTransaction", new { area = "Admin" }, null)
                </div>
            </div>
        </div>
    }
    else if (@ViewBag.role == "stu")
    {
        <div>
            <div class="btn btn-default">
                @Html.ActionLink("Send A Badge", "SendBadge", "Home", new { area = "" }, null)
            </div>
            <div class="btn btn-default">
                @Html.ActionLink("View The Tree", "Tree", "Home", new { area = "" }, null)
            </div>
        </div>
        <br>
        <div class="badges-list">
            <div><h2>Received Badges:</h2></div>
            @if (@ViewBag.user.totalReceived == 0)
            {
                <div>You Have Not Received Any Bagdes Yet!</div>
            }
            else
            {
                <div class="row">
                    @foreach (BadgeTransaction item in @ViewBag.user.receivedBadges)
                    {
                        /**/
                        @Html.Partial("~/Views/Common/BadgeCard.cshtml", item)
                    }
                </div>
            }
        </div>

        <div class="badges-list">
            <div><h2>Sent Badges:</h2></div>
            @if (@ViewBag.user.totalSent == 0)
            {
                <div>You Have Not Sent Any Bagdes Yet!</div>
            }
            else
            {
                <div class="row">
                    @foreach (BadgeTransaction item in @ViewBag.user.sentBadges)
                    {
                        /**/
                        @Html.Partial("~/Views/Common/BadgeCard.cshtml", item)
                    }
                </div>
            }
        </div>
    }
}
else
{
    <div class="welcome-page">
        <h1>Welcome to GST System!</h1>
        <h1>You Need to Login First</h1>
        <h1>Thank You!</h1>
    </div>
}